<%- include('partials/header', { title: post.title }) %>
<%- include('partials/navbar') %>

<main>
  <h1><%= post.title %></h1>
  <p><%= post.content %></p>
</main>

<%- include('partials/footer') %>
